/* Variables */

:root {
  --dark-blue: #1F2937;
  --medium-blue: #3882F6;
  --off-white: #F9FAF8;
  --light-gray: #E5E7EB;
  --medium-gray: #b1b6c3;
  --dark-gray: #777b86;
}

/* Global or cross section */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

button {
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
  font-weight: 500;
  background-color: var(--medium-blue);
  color: var(--off-white);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: var(--dark-blue);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--off-white);
}

.header-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--medium-gray);
}

/* Body 1 */

.body-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 200px;
  background-color: var(--dark-blue);
}

.body-1-left-column {
  width: 400px;
}

#statement-text {
  font-size: 48px;
  color: var(--off-white);
  font-weight: 900;
}

#statement-subtext {
  margin-bottom: 12px;
  font-size: 18px;
  color: var(--light-gray);
}

.gray-image-box {
  width: 600px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--dark-gray);
  color: var(--off-white);
}

/* Body 2 */

#information {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 900;
  padding: 40px;
  color: var(--dark-blue);
}

.body-2-boxes-row {
  display: flex;
  justify-content: center;
  margin-bottom: 125px;
}

.blue-box-and-text {
  margin: 0 25px;
}

.blue-image-box {
  box-sizing: border-box;
  width: 175px;
  height: 175px;
  border: 4px solid var(--medium-blue);
  border-radius: 16px;
}

.caption {
  width: 175px;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: var(--dark-gray);
}

/* Body 3 */

.body-3 {
  display: flex;
  justify-content: center;
  background-color: var(--light-gray);
}

.quote-text, .quote-origin {
  color: var(--dark-blue);
}

.quote-column {
  margin: 150px 0;
}

.quote-text {
  width: 780px;
  height: 160px;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
}

.quote-origin {
  text-align: right;
  margin: 0 50px;
  font-size: 24px;
  font-weight: 700;
}

/* Body 4 */

.body-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.action-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1000px;
  height: 175px;
  padding: 0 125px;
  background-color: var(--medium-blue);
}

#action-text {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

#action-subtext {
  font-size: 18px;
  color: var(--light-gray);
}

#sign-up-2 {
  border: 2px solid var(--off-white);
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  background-color: var(--dark-blue);
  color: var(--light-gray);
}
